Repository volkov97/extra-components: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:css, npm run lint:js, prettier --write

update deps
  package-lock.json
Due: npm run lint:css

remove eslint temprorary
  .eslintignore
  .eslintrc.json
  .lintstagedrc.json
  package-lock.json
  package.json
  tools/build.ts
Due: npm run lint:css, npm run lint:js, prettier --write

0.0.2
  package-lock.json
  package.json
Due: npm run lint:css

fix publish script
  tools/lib/npm.ts
Due: npm run lint:js, prettier --write

initTheme refactored
  .editorconfig
  src/lib/tools/index.ts
  src/lib/tools/initTheme.ts
  src/lib/tools/theme/colors.css
  src/lib/tools/theme/mixins.css
  src/lib/tools/theme/sizes.css
  src/lib/tools/theme/typos.css
Due: npm run lint:css, npm run lint:js, prettier --write

0.0.3
  package-lock.json
  package.json
Due: npm run lint:css

add className to html, not body element
  src/lib/tools/initTheme.ts
Due: npm run lint:js, prettier --write

0.0.4
  package-lock.json
  package.json
Due: npm run lint:css

add fonts
  src/lib/fonts/open-sans-v17-latin-700.eot
  src/lib/fonts/open-sans-v17-latin-700.svg
  src/lib/fonts/open-sans-v17-latin-700.ttf
  src/lib/fonts/open-sans-v17-latin-700.woff
  src/lib/fonts/open-sans-v17-latin-700.woff2
  src/lib/fonts/open-sans-v17-latin-italic.eot
  src/lib/fonts/open-sans-v17-latin-italic.svg
  src/lib/fonts/open-sans-v17-latin-italic.ttf
  src/lib/fonts/open-sans-v17-latin-italic.woff
  src/lib/fonts/open-sans-v17-latin-italic.woff2
  src/lib/fonts/open-sans-v17-latin-regular.eot
  src/lib/fonts/open-sans-v17-latin-regular.svg
  src/lib/fonts/open-sans-v17-latin-regular.ttf
  src/lib/fonts/open-sans-v17-latin-regular.woff
  src/lib/fonts/open-sans-v17-latin-regular.woff2
  src/lib/tools/initTheme.ts
  src/lib/tools/theme/fonts.css
  src/lib/tools/theme/typos.css
Due: npm run lint:css, npm run lint:js, prettier --write

0.0.5
  package-lock.json
  package.json
Due: npm run lint:css

change secondary background color
  src/lib/tools/theme/colors.css
Due: npm run lint:css

0.0.6
  package-lock.json
  package.json
Due: npm run lint:css

add Button component
  package-lock.json
  package.json
  src/lib/assets/fonts/open-sans-v17-latin-700.eot
  src/lib/assets/fonts/open-sans-v17-latin-700.svg
  src/lib/assets/fonts/open-sans-v17-latin-700.ttf
  src/lib/assets/fonts/open-sans-v17-latin-700.woff
  src/lib/assets/fonts/open-sans-v17-latin-700.woff2
  src/lib/assets/fonts/open-sans-v17-latin-italic.eot
  src/lib/assets/fonts/open-sans-v17-latin-italic.svg
  src/lib/assets/fonts/open-sans-v17-latin-italic.ttf
  src/lib/assets/fonts/open-sans-v17-latin-italic.woff
  src/lib/assets/fonts/open-sans-v17-latin-italic.woff2
  src/lib/assets/fonts/open-sans-v17-latin-regular.eot
  src/lib/assets/fonts/open-sans-v17-latin-regular.svg
  src/lib/assets/fonts/open-sans-v17-latin-regular.ttf
  src/lib/assets/fonts/open-sans-v17-latin-regular.woff
  src/lib/assets/fonts/open-sans-v17-latin-regular.woff2
  src/lib/components/Button/Button.css
  src/lib/components/Button/Button.stories.tsx
  src/lib/components/Button/Button.tsx
  src/lib/tools/initTheme.ts
  src/lib/tools/theme/mixins.css
  src/lib/tools/theme/typos.css
Due: npm run lint:css, npm run lint:js, prettier --write

0.0.7
  package-lock.json
  package.json
Due: npm run lint:css

update deps
  package-lock.json
  package.json
Due: npm run lint:css

0.0.8
  package-lock.json
  package.json
Due: npm run lint:css

add corner types for button
  src/lib/components/Button/Button.css
  src/lib/components/Button/Button.stories.tsx
  src/lib/components/Button/Button.tsx
Due: npm run lint:css, npm run lint:js, prettier --write

add radiobutton
  src/lib/components/Button/Button.tsx
  src/lib/components/RadioButton/RadioButton.css
  src/lib/components/RadioButton/RadioButton.stories.tsx
  src/lib/components/RadioButton/RadioButton.tsx
  src/lib/components/RadioButton/index.ts
Due: npm run lint:css, npm run lint:js, prettier --write

0.0.9
  package-lock.json
  package.json
Due: npm run lint:css

add TextLink and Breadcrumbs
  left-and-right-arrows.svg
  src/lib/components/Breadcrumbs/Breadcrumbs.css
  src/lib/components/Breadcrumbs/Breadcrumbs.stories.tsx
  src/lib/components/Breadcrumbs/Breadcrumbs.tsx
  src/lib/components/Breadcrumbs/components/ArrowIcon.tsx
  src/lib/components/Breadcrumbs/index.ts
  src/lib/components/TextLink/TextLink.css
  src/lib/components/TextLink/TextLink.stories.tsx
  src/lib/components/TextLink/TextLink.tsx
  src/lib/components/TextLink/index.ts
Due: npm run lint:css, npm run lint:js, prettier --write

rename package
  package-lock.json
  package.json
Due: npm run lint:css

0.0.10
  README.md
  package-lock.json
  package.json
Due: npm run lint:css

fix publish script
  tools/publish-showcase.ts
Due: npm run lint:js, prettier --write

remove unused svg
  left-and-right-arrows.svg
  package-lock.json
  package.json
Due: npm run lint:css

rename to extra
  README.md
  package-lock.json
  package.json
  src/internal/components/Styles/Styles.stories.css
  src/internal/components/Styles/Styles.stories.tsx
  src/lib/components/Breadcrumbs/Breadcrumbs.css
  src/lib/components/Breadcrumbs/Breadcrumbs.stories.tsx
  src/lib/components/Breadcrumbs/Breadcrumbs.tsx
  src/lib/components/Button/Button.css
  src/lib/components/Button/Button.stories.tsx
  src/lib/components/Button/Button.tsx
  src/lib/components/RadioButton/RadioButton.css
  src/lib/components/RadioButton/RadioButton.stories.tsx
  src/lib/components/RadioButton/RadioButton.tsx
  src/lib/components/Tags/Tags.css
  src/lib/components/Tags/Tags.stories.tsx
  src/lib/components/Tags/Tags.tsx
  src/lib/components/Tags/index.ts
  src/lib/components/TextLink/TextLink.css
  src/lib/components/TextLink/TextLink.stories.tsx
  src/lib/components/TextLink/TextLink.tsx
  src/lib/components/index.ts
  src/lib/tools/initTheme.ts
  src/lib/tools/theme/colors.css
  tools/publish-showcase.ts
Due: npm run lint:css, npm run lint:js, prettier --write

0.0.11
  README.md
  package-lock.json
  package.json
Due: npm run lint:css

copy fonts to public folder
  public/fonts/open-sans-v17-latin-700.eot
  public/fonts/open-sans-v17-latin-700.svg
  public/fonts/open-sans-v17-latin-700.ttf
  public/fonts/open-sans-v17-latin-700.woff
  public/fonts/open-sans-v17-latin-700.woff2
  public/fonts/open-sans-v17-latin-italic.eot
  public/fonts/open-sans-v17-latin-italic.svg
  public/fonts/open-sans-v17-latin-italic.ttf
  public/fonts/open-sans-v17-latin-italic.woff
  public/fonts/open-sans-v17-latin-italic.woff2
  public/fonts/open-sans-v17-latin-regular.eot
  public/fonts/open-sans-v17-latin-regular.svg
  public/fonts/open-sans-v17-latin-regular.ttf
  public/fonts/open-sans-v17-latin-regular.woff
  public/fonts/open-sans-v17-latin-regular.woff2
Due: none

add body styles
  src/lib/tools/initTheme.ts
  src/lib/tools/theme/body.css
Due: npm run lint:css, npm run lint:js, prettier --write

fix breadcrumbs storybook example
  src/lib/components/Breadcrumbs/Breadcrumbs.stories.tsx
  src/lib/tools/theme/body.css
Due: npm run lint:css, npm run lint:js, prettier --write

change publish script
  .gitignore
  README.md
  package-lock.json
  package.json
  tools/publish-showcase.ts
Due: npm run lint:css, npm run lint:js, prettier --write

0.0.12
  package-lock.json
  package.json
Due: npm run lint:css

change lib name
  README.md
  package-lock.json
  package.json
Due: npm run lint:css

change version
  package-lock.json
  package.json
Due: npm run lint:css

0.0.1
  package-lock.json
  package.json
Due: npm run lint:css

add tags
  src/lib/components/Breadcrumbs/Breadcrumbs.css
  src/lib/components/Breadcrumbs/Breadcrumbs.tsx
  src/lib/components/Button/Button.css
  src/lib/components/Button/Button.tsx
  src/lib/components/RadioButton/RadioButton.css
  src/lib/components/RadioButton/RadioButton.tsx
  src/lib/components/Tags/Tags.css
  src/lib/components/Tags/Tags.stories.tsx
  src/lib/components/Tags/Tags.tsx
  src/lib/components/TextLink/TextLink.css
  src/lib/components/TextLink/TextLink.tsx
  src/lib/icons/RightArrowIcon.tsx
  src/lib/tools/initTheme.ts
  src/lib/tools/theme/colors.css
  tsconfig.json
Due: npm run lint:css, npm run lint:js, prettier --write

change background secondary color
  src/lib/tools/theme/colors.css
Due: npm run lint:css

add onChange to radiobutton
  src/lib/components/RadioButton/RadioButton.stories.tsx
  src/lib/components/RadioButton/RadioButton.tsx
Due: npm run lint:js, prettier --write

Path conditions:
  npm run lint:css: any of: *.{json,css,less,md}
  npm run lint:js: any of: *.{js,jsx,ts,tsx,d.ts}
  prettier --write: any of: *.{js,jsx,ts,tsx,d.ts}
